{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $shared := "" -}}
{{- if hasKey . "shared" -}}
{{-   $shared = .shared -}}
{{- else -}}
{{-   $shared = promptBool "is this shared (work environment)?" true -}}
{{- end -}}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  shared: {{ $shared }}
