{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $setup := "" -}}
{{- if hasKey . "setup" -}}
{{-   $setup = .setup -}}
{{- else -}}
{{-   $setup = promptString "type of setup (personal or work)" -}}
{{- end -}}

{{- $gpgtool := "" -}}
{{- if hasKey . "gpgtool" -}}
{{-   $gpgtool = .gpgtool -}}
{{- else -}}
{{-   $gpgtool = promptString "gpg path" -}}
{{- end -}}

{{- $gitsigningkey := "" -}}
{{- if hasKey . "gitsigningkey" -}}
{{-   $gitsigningkey = .gitsigningkey -}}
{{- else -}}
{{-   $gitsigningkey = promptString "GPG signing key (Git)" -}}
{{- end -}}

{{- $recipient4encryption := "" -}}
{{- if hasKey . "recipient4encryption" -}}
{{-   $recipient4encryption = .recipient4encryption -}}
{{- else -}}
{{-   $recipient4encryption = promptString "Recipient (encryption)" -}}
{{- end -}}

---
data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  setup: {{ $setup | quote }}
  gitsigningkey: {{ $gitsigningkey | quote }}
  gpgtool: {{ $gpgtool | quote }}

encryption: gpg
gpg:
  recipient: {{ $recipient4encryption | quote }}
  args: "--quiet"
