{{ if eq .chezmoi.os "linux" }}
.config/git-prompt.sh:
  type: file
  url: https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh
  refreshPeriod: 48h

repos/domains:
  type: git-repo
  url: git@gitlab.com:sgalceranz/domains.git

repos/pve-terraform:
  type: git-repo
  url: git@gitlab.com:sgalceranz/pve-terraform.git

repos/linode:
  type: git-repo
  url: git@gitlab.com:sgalceranz/linode.git

repos/setup-manager-deprecated:
  type: git-repo
  url: git@gitlab.com:sgalceranz/setup-manager-deprecated.git

{{ end }}