{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $personal := "" -}}
{{- if hasKey . "personal" -}}
{{-   $personal = .personal -}}
{{- else -}}
{{-   $personal = promptBool "is personal setup?" false -}}
{{- end -}}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  personal: {{ $personal }}
