{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $setup := "" -}}
{{- if hasKey . "setup" -}}
{{-   $setup = .setup -}}
{{- else -}}
{{-   $setup = promptString "type of setup (personal or work)" -}}
{{- end -}}

{{- $gpgtool := "" -}}
{{- if hasKey . "gpgtool" -}}
{{-   $gpgtool = .gpgtool -}}
{{- else -}}
{{-   $gpgtool = promptString "gpg path" -}}
{{- end -}}

{{- $gpgsigningkey := "" -}}
{{- if hasKey . "gpgsigningkey" -}}
{{-   $gpgsigningkey = .gpgsigningkey -}}
{{- else -}}
{{-   $gpgsigningkey = promptString "GPG signing key" -}}
{{- end -}}

---
data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  setup: {{ $setup | quote }}
  gpgsigningkey: {{ $gpgsigningkey | quote }}
  gpgtool: {{ $gpgtool | quote }}

encryption: gpg
gpg:
  recipient: {{ $email | quote }}
  args: "--quiet"
