[user]
    email = {{ .git_email }}
    name = {{ .git_name }}
    {{- if .git_signingkey }}
    signingkey = {{ .git_signingkey }}
    {{- end }}
[init]
    defaultBranch = main
[color]
    ui = true
[alias]
    br = branch
    ck = checkout
    g = log --graph --pretty='format:%Cred%h%Creset %Cgreen%ai%Creset %C(bold blue)%ae%Creset%C(yellow)%d%Creset %s'
    lg = log --all --decorate --oneline --graph
    sc = commit -S
    st = status
{{- if eq .chezmoi.os "windows" }}
[core]
    longpaths = true
    ignorecase = false
{{- end }}
{{- if .git_signingkey }}
[commit]
    gpgsign = true
{{- end }}
{{- if and (eq .chezmoi.os "windows") ( .gpgtool ) }}
[gpg]
    program = {{ .gpgtool }}
{{- end }}
