[user]
    email = {{ .email }}
    name = {{ .name }}
    {{- if .gpgsigningkey }}
    signingkey = {{ .gpgsigningkey }}
    {{- end }}
[init]
    defaultBranch = main
[color]
    ui = true
[alias]
    lg = log --all --decorate --oneline --graph
    g = log --graph --pretty='format:%Cred%h%Creset %Cgreen%ai%Creset %C(bold blue)%ae%Creset%C(yellow)%d%Creset %s'
    sc = commit -S
{{- if eq .chezmoi.os "windows" }}
[core]
    longpaths = true
    ignorecase = false
{{- end }}
{{- if .gpgsigningkey }}
[commit]
    gpgsign = true
{{- end }}
{{- if and (eq .chezmoi.os "windows") ( .gpgtool ) }}
[gpg]
    program = {{ .gpgtool }}
{{- end }}
