[user]
    email = {{ .email }}
    name = {{ .name }}
[init]
    defaultBranch = main
[color]
    ui = true
[alias]
    lg = log --all --decorate --oneline --graph
    g = log --graph --pretty='format:%Cred%h%Creset %Cgreen%ai%Creset %C(bold blue)%an%Creset%C(yellow)%d%Creset %s'
[core]
    longpaths = true